.App {
  padding: 1%;
  background-color: #c5c5c5;
}

.elm {
  border: none;
  background-color: white;
  border-radius: 20px;
  margin: 5%;
  padding: 1%;
  height: auto;
  width: 700px;
}
#input {
  height: 30px;
  width: 100px;
  border: none;
}
#input:focus {
  outline: 1px solid transparent;
}
button .badge-light {
  color: darkgray;
  font-size: 11px;
  box-shadow: white 1px;
}
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}